/* home-page */


.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;

    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    padding: .5rem 3rem;
}

.mobileToggle {
    display: none;
}

.logo {
    /* width: 4rem;
    height: 2.5rem; */
    height: 100%;
}

/* inscricao online */
.logo a {
    color: var(--color-black);
    font-size: 1.2rem;
    font-weight: bold;
}

.logo a:hover {
    color: var(--color-blue-2);
}

.title {
    margin: 0;
}

.nav {
    background-color: var(--bg-dark);
    display: block;
    box-shadow: 0px 0px 2px var(--color-black);

    width: 100%;
    padding: .5rem 1rem;
    margin: 0;
}

.nav ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.navItem {
    padding: 0;
    margin: 0 2rem;
    transition: transform .6s ease;
}

.navItem a {
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
}

.navItem a:hover {
    color: var(--color-blue-2);
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70vh;
    position: relative;

    border: 1px solid black;
}

.slide-container button {
    background-color: rgba(0, 0, 0, .2);
    color: var(--color-white);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    padding: 1.5rem;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.slide-container button:hover {
    background-color: rgba(0, 0, 0, .5);
    color: var(--color-white);
}

.slide-container #btn-left {
    left: 1rem;
}

.slide-container #btn-right {
    right: 1rem;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer .copyright {
    background-color: var(--bg-dark);

    width: 100%;
    padding: .5rem 1rem;
}

.footer .copyright p {
    color: var(--color-gray-2);
    margin: 0;
}

@media only screen and (max-width: 768px) {

    /* header */
    .logo {
        display: none;
    }

    .title {
        font-size: 1.5rem;
    }

    .mobileToggle {
        display: block;
        color: var(--color-black);
        font-size: 1.2rem;
    }
}